<p class="h3">Análise do Fluxo de Potência</p>

<div *ngIf="opcaoEscolhida==''">
  <div class="d-flex justify-content-center ">
    <button (click)='escolherOpcao("arquivos")' class="btn btn-primary my-3 col-6" role="button">Envie Arquivos</button>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)='escolherOpcao("manual")' class="btn btn-primary my-3 col-6" role="button">Edite Manualmente</button>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="opcaoEscolhida=='arquivos'" class="border">
        <app-fluxo-arquivos
        (arquivosCarregados)="carregouArquivos($event)"

        ></app-fluxo-arquivos>
        <p>{{ andrei }}</p>
      </div>

      <div *ngIf="opcaoEscolhida=='manual'" class="border">
        <app-fluxo-manual></app-fluxo-manual>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <p class="h3">Linha</p>
  <p>Configure suas linhas.</p>
</div>

<div>
  <p class="h3">Barra</p>
  <p>Configure suas barras.</p>
</div> -->




<a *ngIf="linhaCompleta && barraCompleta" (click)="calcularFluxo()" class="btn btn-secondary mr-3" role="button">Calcular Fluxo de Potência</a>
<app-fluxo-tabela *ngIf="fluxoCalculado"></app-fluxo-tabela>