<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-striped text-center  table-sm">
        <thead>
          <tr>
            <th *ngFor="let cabeca of cabecalho " scope="col">{{cabeca}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let barra of barras">
            <td> {{ barra.item }}</td>
            <td> {{ barra.tipo }}</td>
            <td> {{ barra.nome }}</td>
            <td> {{ barra.tensao_0 }}</td>
            <td> {{ barra.angulo0 }}</td>
            <td> {{ barra.pGerada }}</td>
            <td> {{ barra.qGerada }}</td>
            <td> {{ barra.qMinimo }}</td>
            <td> {{ barra.qMaximo }}</td>
            <td> {{ barra.pCarga }}</td>
            <td> {{ barra.qCarga }}</td>
            <td> {{ barra.pGeradamin }}</td>
            <td> {{ barra.pGeradamax }}</td>
            <td> {{ barra.qShunt }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>