<!-- Titulo -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Meus Projetos</h1>       
</div>

<!-- Gerenciador para Criar ou importar -->
<div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group mr-2">
    <button class="btn btn-sm btn-outline-secondary">Criar</button>
    <button class="btn btn-sm btn-outline-secondary">Importar</button>
  </div>
</div>
<br><br>

<!-- Primeira linha de projetos -->
<div class="d-flex  justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <div class="card" style="width: 20em; ">
    <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep1.png">
    <div class="card-body  ">
      <h5 class="card-title">Projeto 1</h5>
      <p class="card-text">Projeto para testes </p>
      <div class="btn-group align-itens-center" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">Visualizar</button>
        <button type="button" class="btn btn-outline-secondary">Editar</button>
        <button type="button" class="btn btn-outline-secondary">Excluir</button>
      </div>

    </div>
  </div>
  <div class="card" style="width: 20em; ">
    <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep2.jpg">
    <div class="card-body ">
      <h5 class="card-title">Projeto 2</h5>
      <p class="card-text">Projeto para testes </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">Visualizar</button>
        <button type="button" class="btn btn-outline-secondary">Editar</button>
        <button type="button" class="btn btn-outline-secondary">Excluir</button>
      </div>
    </div>
  </div>
  <div class="card " style="width: 20em; ">
    <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep3.jpg">
    <div class="card-body ">
      <h5 class="card-title">Projeto 3</h5>
      <p class="card-text">Projeto para testes </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">Visualizar</button>
        <button type="button" class="btn btn-outline-secondary">Editar</button>
        <button type="button" class="btn btn-outline-secondary">Excluir</button>
      </div>
    </div>
  </div>
</div>

<!-- Segunda linha de projetos -->      
<div class="d-flex  justify-content-between flex-wrap flex-md-nowrap align-items-start pb-2 mb-3 border-bottom">
  <div class="card" style="width: 20em; ">
    <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep3.jpg">
    <div class="card-body ">
      <h5 class="card-title">Projeto 4</h5>
      <p class="card-text">Projeto para testes </p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary">Visualizar</button>
        <button type="button" class="btn btn-outline-secondary">Editar</button>
        <button type="button" class="btn btn-outline-secondary">Excluir</button>
      </div>
    </div>
  </div>
</div>
