<form [formGroup]="formulario" (ngSubmit)="onSubmit('update')">
  <p class="m-0">Informações de Falta</p>
  <!-- Linha 1 -->
  <div class="row">

    <div class="col-1" [ngClass]="AplicaCSSError('xg')">
      <label>xg</label>
      <input type="number" class="form-control form-control-sm" placeholder="1.0" formControlName="xg">
    </div>
    <div class="col-1" [ngClass]="AplicaCSSError('x0')">
      <label>x0</label>
      <input type="number" class="form-control form-control-sm" placeholder="1.0" formControlName="x0">
    </div>

    <div class="col-1" [ngClass]="AplicaCSSError('porcentagem')">
      <label>Porcentagem</label>
      <input step="0.02" min="0" max="1" type="number" class="form-control form-control-sm" placeholder="1.0" formControlName="porcentagem">
    </div>

    <div class="col-2" [ngClass]="AplicaCSSError('enumFaltaTipo')">
      <label>Tipo de Falta</label>
      <select class="form-control form-control-sm " formControlName="enumFaltaTipo">
        <option value="1">Monofasica</option>
        <option value="2">Bifasica</option>
        <option value="3">Trifasica</option>
        <option value="4">Bifásico com terra</option>
      </select>
    </div>

  </div>
  <!-- /Linha 1 -->
  <div class="row">
    <div class="col-2 mt-2 d-flex flex-column justify-content-end">
      <div class="btn-group">
        <button (click)="onSubmit('update')" type="submit" class="btn btn-primary mb-2">Atualizar</button>
        <button (click)="onSubmit('delete')" type="submit" class="btn btn-danger mb-2">Excluir</button>
        <button (click)="onSubmit('cancel')" type="submit" class="btn btn-info mb-2">Cancelar</button>
      </div>
    </div>
  </div>
</form>