/*
   * Sidebar
*/
.sidebar {
  height: calc(100vh - 60px);
  min-width: 120px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: rgba(230, 230, 230, 0.856)
}

#svg_principal {
  outline: 0 solid;
}

/* 
  * Diagrama
  */

.area-draw {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  z-index: 0;
  border: 1px rgb(173, 173, 173);
  float: center;
}

.menu-superior {
  height: 50px;
  background-color: rgba(230, 230, 230, 0.856)
}

/* 
  * Propriedades
  */

.propriety {
  height: calc(100vh - 60px);
  background-color: rgba(230, 230, 230, 0.856);
}

.propriety:hover, .propriety.active   {
  float: right;
  width: 300px;
  transition: width 2s;
}