/*
   * Sidebar
   */

.sidebar {
  /* min-width: 330px;
  width: 330px; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: calc(100vh - 50px);
  /* Behind the navbar */
  /* padding: 48px 0 0; */
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color:rgba(230, 230, 230, 0.856)
}

.sidebar-row {
  height: 100px;
}

#svg_principal {
  outline: 0 solid;
}



/* 
  * Diagrama
  */

.area-draw {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  z-index: 0;
  border: 1px rgb(173, 173, 173);

}

.menu-superior {
  height: 50px;
  background-color:rgba(230, 230, 230, 0.856)
}

.drop-active {
  border-style: dashed;
}

.drop-target {
  /* background-color: #29e; */
  /* border-color: rgba(123, 134, 236, 0.322); */
  border-style: solid;
  box-shadow: #29e;
}

.drag-drop {
  cursor: move;
  display: inline-block;
  min-width: 40px;
  background-color: transparent;
  /* border: solid 2px #fff; */
  /* 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px); */
  transition: background-color 0.3s;
}


/*
  * Componentes
  */

.component {
  width: 100px;
  height: 100px;
  min-width: 100px;
  z-index: 100;
}

.component-selected {
  border: 1px solid #0c80f5!important;
}

/* 
  * Propriedades
  */

.propriety {
  
  height: calc(100vh - 60px);
  background-color:rgba(230, 230, 230, 0.856)

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}