<div class="container-fluid">
  <!-- Linha Principal -->
  <div class="row mt-5">
    <!-- Componentes  -->
    <div class="col-2 p-0 m-0 border ">
      <div id="component-sidebar" class="sidebar bg-info dropzone dropzone-components">
        <p class="h4">Componentes</p>

        <input class="form-control p-2 my-3 text-left" type="text" placeholder="Filtrar Componente" aria-label="Search">
        <div class="row sidebar-row ml-1 p-0">
          <a id="bus_pv" class="component component-fixed  mt-1 p-0 drag-drop">
          </a>
          <a id="bus_vt" class="component component-fixed  mt-1 mx-1 p-0 drag-drop">
          </a>
          <a id="bus_pq" class="component component-fixed  mt-1 p-0 drag-drop">
          </a>
        </div>
      </div>
    </div>
    <!-- /Componentes  -->

    <!-- Diagrama -->
    <div class="col-8 mt-2 mb-0 ">
      <!-- Menu Superior -->
      <div class="row menu-superior bg-white border  mb-2 align-items-center p-0 m-0">

        <!-- Ações de movimento  -->
        <div class="btn-group mr-3" role="group">

          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/icons8-cursor-32.png" alt="Selecionar">
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/icons8-mover-32.png" alt="Selecionar">
          </button>




        </div>
        <!-- /Ações de movimento  -->

        <!-- Ações de Copiar/Recortar/Colar -->
        <div class="btn-group mr-3 " role="group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/icons8-copiar-32.png" alt="Resistor">
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/icons8-recortar-32.png" alt="Resistor">
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/icons8-colar-32.png" alt="Resistor">
          </button>
        </div>
        <!-- /Ações de Copiar/Recortar/Colar -->

        <!-- Inserir Linha -->
        <div class="btn-group mr-3 " role="group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../assets/icons/menu-acoes/resistor.png" alt="Resistor">
          </button>
        </div>
        <!-- /Inserir Linha -->
      </div>
      <!-- /Menu Superior -->

      <!-- Área de Desenho -->
      <div id="draw_inside" class="shadow-lg bg-white rounded area-draw dropzone-diagram  ">
        <button type="button" class="btn btn-light border  float-right align-self-lg-end  shadow shadow-lg" style="z-index: 200;"
          (click)="calcularFluxo()">
          <img src="../../assets/icons/menu-acoes/icons8-processo-32.png" alt="Calcular Fluxo de Potência">
          
        </button>
      </div>
      <!-- /Área de Desenho -->
    </div>
    <!-- /Diagrama -->

    <!-- Propriedades -->
    <div class="col-2 p-0 border">
      <div class="propriety bg-info">
        <div class="align-items-center">
          <p class="h4"> Propriedades</p>
        </div>
        <div *ngIf="showProprietiesDiagram" class="row p-0 m-0">
          <div class="col-1 border">
            <div class="input-group-prepend ">
              <input type="checkbox" aria-label="Checkbox for following text input">
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /Propriedades -->

  </div>
  <!-- /Linha Principal -->
</div>