<form>
  <div class="form-group">
    <label>Inserir arquivo de susceptancia (susceptancia.txt)</label>
    <input type="file" placeholder="Entre com o arquivo de susceptancia" class="form-control" id='susceptancia' (change)="lerArquivo($event)"
      accept=".txt" />
    <app-tabela [(array)]="arquivos['susceptancia']" *ngIf="arquivos['susceptancia']?.length>0"></app-tabela>
  </div>

  <div class="form-group">
    <label>Inserir arquivo de Faltas (Entrada_falta.txt)</label>
    <input type="file" placeholder="Entre com o arquivo de Faltas" class="form-control" id='Entrada_falta' (change)="lerArquivo($event)"
      accept=".txt" />
      <app-tabela [(array)]="arquivos['Entrada_falta']" *ngIf="arquivos['Entrada_falta']?.length>0"></app-tabela>
  </div>


  <div class="form-group">
    <label>Inserir arquivo de linhas (linhas.txt)</label>
    <input type="file" placeholder="Entre com o arquivo de linhas" class="form-control" id='linhas' (change)="lerArquivo($event)"
      accept=".txt" />
      <app-tabela [(array)]="arquivos['linhas']" *ngIf="arquivos['linhas']?.length>0"></app-tabela>
  </div>

  <div class="form-group">
    <label>Inserir arquivo de colunas (colunas.txt)</label>
    <input type="file" placeholder="Entre com o arquivo de colunas" class="form-control" id='colunas' (change)="lerArquivo($event)"
      accept=".txt" />
      <app-tabela [(array)]="arquivos['colunas']" *ngIf="arquivos['colunas']?.length>0"></app-tabela>
  </div>
</form>