<form [formGroup]="formulario" (ngSubmit)="onSubmit('update')">
  <p class="m-0">Informações de Linha</p>
  <!-- Linha 1 -->
  <div class="row">
    <div class="col-1" [ngClass]="AplicaCSSError('id_linha')">
      <label>ID</label>
      <input type="text" class="form-control form-control-sm" placeholder="barra_1" formControlName="id_linha">
    </div>
    <div class="col-1" [ngClass]="AplicaCSSError('R')">
      <label>r</label>
      <input type="number" class="form-control form-control-sm" placeholder="1.0" formControlName="R">
    </div>

    <div class="col-1" [ngClass]="AplicaCSSError('TAP')">
      <label>Tap</label>
      <input type="number" class="form-control form-control-sm" placeholder="1.0" formControlName="TAP">
    </div>

    <div class="col-2" [ngClass]="AplicaCSSError('reatancia_trafo')">
      <label>Reatância Transformador</label>
      <input type="number" class="form-control form-control-sm" placeholder="0.0" formControlName="reatancia_trafo">
    </div>

    <div class="col-2" [ngClass]="AplicaCSSError('resistencia_zero')">
      <label>Reatância de Sequência Zero</label>
      <input type="number" class="form-control form-control-sm" placeholder="0.0" formControlName="resistencia_zero">
    </div>
  </div>
  <!-- /Linha 1 -->
  <!-- Linha 2 -->
  <div class="row">
    <div class="col-1" [ngClass]="AplicaCSSError('nome')">
      <label>Nome</label>
      <input type="text" class="form-control form-control-sm" placeholder="linha 0,0" formControlName="nome">
    </div>
    <div class="col-1" [ngClass]="AplicaCSSError('X')">
      <label>x</label>
      <input type="number" class="form-control form-control-sm" placeholder="0.0" formControlName="X">
    </div>

    <div class="col-1" [ngClass]="AplicaCSSError('A')">
      <label>Ângulo</label>
      <input type="number" class="form-control form-control-sm" placeholder="0.0" formControlName="A">
    </div>

    <div class="col-2" [ngClass]="AplicaCSSError('tipo_trafo')">
      <label>Tipo Transformador</label>
      <select class="form-control form-control-sm " formControlName="tipo_trafo">
        <option value="0">Delta Estrela</option>
        <option value="1">Estrela Estrela</option>
      </select>
    </div>
  </div>
  <!-- /Linha 2 -->

  <div class="row">
    <div class="col-2 mt-2 d-flex flex-column justify-content-end">
      <div class="btn-group">
        <button (click)="onSubmit('update')" type="submit" class="btn btn-primary mb-2">Atualizar</button>
        <button (click)="onSubmit('delete')" type="submit" class="btn btn-danger mb-2">Excluir</button>
        <button (click)="onSubmit('cancel')" type="submit" class="btn btn-info mb-2">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="border-bottom m-2"></div>

</form>