<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="my-1">
    <h1>Autores</h1>
  </div>

  <!-- Team Members Row -->
  <div class="row">

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top"  src="../../assets/images/autores/andrei.jpg">
      <div class="card-body text-center">
        <h5 class="card-title">Andrei Bastos</h5>
        <p class="card-text ">Granduando em Engenharia Elétrica pela
          <a href="http://www.engenhariaeletrica.ufes.br/pt-br/estrutura-curricular">UFES. </a>
        </p>
      </div>
      <div class="card-footer text-muted text-center">

        <a class="mx-2" href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K8711092D2">
          Lattes
        </a>
        <a class="mx-2" href="https://www.facebook.com/andreibastos/">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        <a class="mx-2" href="https://www.linkedin.com/in/andrei-bastos-267784119/">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top"  src="../../assets/images/autores/Luiz.gif">
      <div class="card-body text-center">
        <h5 class="card-title">Luiz Tonini</h5>
        <p class="card-text "> Participa do programa de pós-graduação em engenharia elétrica da
          <a href="http://www.engenhariaeletrica.ufes.br/pt-br/estrutura-curricular">UFES</a>
        </p>
      </div>
      <div class="card-footer text-muted text-center">
        <a href="https://www.linkedin.com/in/luiz-guilherme-riva-tonini-8b128030/">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4430968A5">
          Lattes
        </a>
      </div>
    </div>

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top"  src="../../assets/images/autores/Oureste.gif">
      <div class="card-body text-center">
        <h5 class="card-title">Oureste Elias Batista</h5>
        <p class="card-text ">Graduação, Mestrado e Doutorado pela Universidade de São Paulo
          <a href="http://www5.usp.br/">USP</a>. Desde 2016, Professor do Departamento de Engenharia Elétrica da
          <a href="http://www.engenhariaeletrica.ufes.br/pt-br/estrutura-curricular">UFES</a>.
        </p>
      </div>
      <div class="card-footer text-muted text-center">
        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4204221Y9">
          Lattes
        </a>
      </div>
    </div>


    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top"  src="../../assets/images/autores/Augusto.gif">
      <div class="card-body text-center">
        <h5 class="card-title">Augusto César Rueda Medina</h5>
        <p class="card-text ">Atualmente, é professor do Departamento de Engenharia Elétrica da
          <a href="http://www.engenhariaeletrica.ufes.br/pt-br/estrutura-curricular">UFES</a>.
        </p>
      </div>
      <div class="card-footer text-muted text-center">
        <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4204221Y9">
          Lattes
        </a>
      </div>
    </div>

  </div>

</div>
<!-- /.container -->