<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="my-1">
    <h1>Contribuintes</h1>
  </div>

  <!-- Team Members Row -->
  <div class="row">

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top" src="https://scontent.frec10-1.fna.fbcdn.net/v/t31.0-8/18527337_10208328298877666_288049891129141123_o.jpg?_nc_cat=0&oh=407c43ab440763999c0a1f5d763a7622&oe=5B882834"
        alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Andrei Bastos</h5>
        <p class="card-text ">Granduando em Engenharia Elétrica pela
          <a href="http://www.engenhariaeletrica.ufes.br/pt-br/estrutura-curricular">UFES</a>
        </p>
        <a class="mx-2" href="https://plus.google.com/u/0/106260050262592095017">
          <i class="fab fa-google-plus fa-lg"></i>
        </a>
        <a class="mx-2" href="https://www.facebook.com/andreibastos/">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
        <a class="mx-2" href="https://www.linkedin.com/in/andrei-bastos-267784119/">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top" src="https://media.licdn.com/dms/image/C5603AQFuHRZQGrH1qw/profile-displayphoto-shrink_800_800/0?e=1532563200&v=beta&t=mSLbUEfd_wFMvsmsfA_vfdgB1LtQUWsFXIN5aiBNlPg"
        alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Luiz Tonini</h5>
        <p class="card-text ">Engenheiro eletricista com publicações nas áreas de manutenção e máquinas ferroviárias.
        </p>
        <a href="https://www.linkedin.com/in/luiz-guilherme-riva-tonini-8b128030/">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>
    </div>

    <div class="card mx-4 my-5" style="width: 18rem;">
      <img class="card-img-top" src="https://scholar.google.com.br/citations?view_op=view_photo&user=-CncQt4AAAAJ&citpid=3" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">Oureste Elias Batista</h5>
        <p class="card-text ">Doutor em Engenharia Elétrica pela
          <a href="http://www5.usp.br/">USP</a>
        </p>
        <a href="https://scholar.google.com.br/citations?user=-CncQt4AAAAJ&hl=pt-BR">
          <i class="fab fa-google-plus fa-lg"></i>
        </a>

      </div>
    </div>


  </div>

</div>
<!-- /.container -->