.selecionado {
    fill: blue !important;
    fill-opacity: 1;
    stroke: black;
    stroke-opacity: 0.6;
    stroke-width: 2;
}

.grupoBarraSelecao {
    fill: none;
    fill-opacity: 0;
    stroke-width: 5;
    stroke-opacity: 0;
}

.selecionado.grupoBarraSelecao {
    fill: blue !important;
    fill-opacity: 0.1 !important;
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    stroke-opacity: 1;
    stroke: black;
}
.retanguloSelecao:hover {
    fill-opacity: 0.2;
    stroke-width: 2;
}

.barra {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

/* .barra:hover { */
    /* fill: blue !important;
    fill-opacity: 1;
    stroke: blue !important;
    transition-duration: 100ms; */
/* } */

/* .barra.linhaHorizontal {} */

.barra.linhaVertical {
    stroke-width: 5;
}

/* .barra.circulo:hover {} */

.barra.triangulo {
    fill: black;
}

.barra.texto {
    stroke-width: 1;
    stroke: none;
    fill: black;
    font-size: 50px;
    color: black;
}

.criarLinha {
    fill: black;
}

.criarLinha:hover {
    cursor: nwse-resize;
    r: 10;
    fill: blue;
    transition-duration: 500ms;
}

.nova_linha, .nova_linha:hover {
    fill: green;
    fill-opacity: 0.4;
    stroke: blue;
    stroke-opacity: 0.6;
    stroke-dasharray: 5, 5;
    r: 20;
}



.rotacao {
    fill: blue;
    stroke: none;
    fill-opacity: 0.1;
    cursor: url('../icons/menu-acoes/rotate.png'), pointer;
}

.rotacao:active, .rotacao:hover {
    fill-opacity: 1;
    r: 10;
}

.linha {
    stroke: black;
    stroke-width: 2;
}

.linha.movimento {
    stroke: blue;
    stroke-width: 1;
}

.impedancia {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.impedancia:hover {
    fill: black;
    transition-duration: 500ms;
}