.selecionado {
    fill: blue;
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.6;
    stroke-width: 2;
}

.barra {}

.barra:hover {}

.criar_linha {
    fill: black;
}

.nova_linha {
    fill: green;
    r: 20;
}

.criar_linha:hover {
    fill: red;
    cursor: nwse-resize;
    r: 10;

}

.retangulo_selecao {
    fill: none;
    stroke-width: 5;
    stroke-opacity: 0;
    stroke: black;
}

.retangulo_selecao:hover {
    /* fill: blue; */
    /* fill-opacity: 0.1; */
    stroke-width: 2;
    stroke-dasharray: 5, 5;
    stroke-opacity: 1;
    stroke: black;
}

.rotacao {
    fill: blue;
    fill-opacity: 0.1;
    cursor: url('../icons/menu-acoes/rotate.png'), pointer;
}


.rotacao:active, .rotacao:hover {
    fill-opacity: 1;
    r: 20;
}

.linha {
    stroke: black;
    stroke-width: 2;
}

.linha.movimento {
    stroke: blue;
    stroke-width: 1;
}