<div class="modal-dialog float-left modal-lg" role="document" >
  <div class="modal-content content">
    <div class="modal-header">
      <h5 class="modal-title">Informações do Sistema</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body body" >
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a (click)="TrocarNav('linhas')" class="nav-link" [class.active]="nav_active=='linhas'">Linhas</a>
        </li>
        <li class="nav-item">
          <a (click)="TrocarNav('barras')" class="nav-link" [class.active]="nav_active=='barras'">Barras</a>
        </li>
        <li class="nav-item">
          <a (click)="TrocarNav('fluxos')" class="nav-link" [class.active]="nav_active=='fluxos'">Fluxo</a>
        </li>
      </ul>

      <app-tabela  [(table)]="selecionado"></app-tabela>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>