<!-- Navbar -->
<nav class="navbar fixed-top navbar-dark bg-blue navbar-expand-lg">
  <a class="navbar-brand font-weight-bold" routerLinkActive="active" [routerLink]="''">
    <i class="fas fa-bolt"></i> {{ title }}</a>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let nav_item of nav_items">
      <a class="nav-link" routerLinkActive="active" routerLink="{{ nav_item['routerLink'] }}">{{ nav_item.name }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLScQetfTjGztH-yKn1lNAc0icpW1Vk4Rqk9kcOT_S2cyONwSkg/viewform">Questionário</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSc1GWpv9UpwFR-ApdYDFDmd2BxTxDWcVGgZlUsUNVuorJUQoQ/viewform">Reportar
        Erros</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="languages" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><span class="flag-icon flag-icon-{{ language }}"></span> </a>
      <div class="dropdown-menu" aria-labelledby="languages">
        <a class="dropdown-item" *ngIf="language!='br'" (click)="language = 'br'"><span class="flag-icon flag-icon-br">
          </span> Português</a>
        <a class="dropdown-item" *ngIf="language!='us'" (click)="language = 'us'"><span class="flag-icon flag-icon-us">
          </span>
          English</a>
        <a class="dropdown-item" *ngIf="language!='es'" (click)="language = 'es'"><span class="flag-icon flag-icon-es">
          </span>
          Espanol</a>
      </div>
    </li>
  </ul>

</nav>
<!-- /Navbar -->

<!-- Conteúdo -->

<router-outlet></router-outlet>

<!-- /Conteúdo -->
