<!-- Navbar -->
<nav class="navbar fixed-top navbar-dark bg-blue navbar-expand-lg">
  <a class="navbar-brand font-weight-bold" routerLinkActive="active" [routerLink]="''">
    <i class="fas fa-bolt"></i> {{title}}</a>
  <ul class="navbar-nav" *ngFor="let nav_item of nav_items">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="{{nav_item['routerLink']}}">{{nav_item.name}}</a>
    </li>
  </ul>
</nav>
<!-- /Navbar -->

<!-- Conteúdo -->
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- /Conteúdo -->