<!-- container -->
<div class="container">

  <div class="row my-5">
    <p class="h2">
      Exemplos para Testes
    </p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/sep.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 5</a>
          </h4>
          <p class="card-text">Fundamentos de Sistemas Elétricos de Potência - Zanetta - 2006</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/sep.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 6</a>
          </h4>
          <p class="card-text">Fundamentos de Sistemas Elétricos de Potência - Zanetta - 2006
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/sep.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 7</a>
          </h4>
          <p class="card-text"> Fluxo de carga em redes de energia elétrica - Monticelli - 1983</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/sep.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 8.1</a>
          </h4>
          <p class="card-text">Elementos de Análise de Sistemas Elétricos de Potência - Steverson - 1982</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/sep.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 9.2</a>
          </h4>
          <p class="card-text">Power System Analysis - Grainer e Steverson - 1994 </p>
        </div>
      </div>
    </div>


  </div>
</div>
<!-- /container -->