<!-- container -->
<div class="container">

  <div class="row my-5">
    <p class="h2 my-1">
      Exemplos para Testes
    </p>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item p-2">
      <div class="card h-100">
        <!-- <a href="#"> -->
        <img class="card-img-top" src="../../assets/images/exemplos/5.png" alt="">
        <!-- </a> -->
        <div class="card-body">
          <h4 class="card-title">
            <a data-toggle="modal"  data-target="#exampleModalCenter" routerLinkActive="active" [routerLink]="['/exemplos']">Exemplo 5</a>

          </h4>
          <p class="card-text">Fundamentos de Sistemas Elétricos de Potência - Zanetta - 2006</p>
          <a href="../../assets/download/exemplo-5.zip" class="btn btn-primary"> download</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item p-2">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/exemplos/6.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 6</a>
          </h4>
          <p class="card-text">Fundamentos de Sistemas Elétricos de Potência - Zanetta - 2006
          </p>
          <a href="../../assets/download/exemplo-6.zip" class="btn btn-primary"> download</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item p-2">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/exemplos/7.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 7</a>
          </h4>
          <p class="card-text"> Fluxo de carga em redes de energia elétrica - Monticelli - 1983</p>
          <a href="../../assets/download/exemplo-7.zip" class="btn btn-primary"> download</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item p-2">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="../../assets/images/exemplos/8.png" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 8.1</a>
          </h4>
          <p class="card-text">Elementos de Análise de Sistemas Elétricos de Potência - Steverson - 1982</p>
          <a href="../../assets/download/exemplo-8.zip" class="btn btn-primary"> download</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item p-2">
      <div class="card h-100">
          <img class="card-img-top" src="../../assets/images/exemplos/9.png" alt="">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Exemplo 9.2</a>
          </h4>
          <p class="card-text">Power System Analysis - Grainer e Steverson - 1994 </p>
          <a href="../../assets/download/exemplo-9.zip" class="btn btn-primary">  download</a>
        </div>
      </div>
    </div>


  </div>
  <!-- row -->




</div>
<!-- /container -->

<!-- Modal -->
<div class="modal fade my-5" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <app-exemplos-modal ></app-exemplos-modal>      
  </div>
</div>