<!-- Barra Fixa -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">PESEP</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sair</a>
    </li>
  </ul>
</nav>

<!-- Corpo Principal -->
<div class="container-fluid">

  <!-- linha única -->
  <div class="row">

    <!-- Barra da Esquerda -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <!-- Projetos -->
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Meu Projetos
              <span class="sr-only"></span>
            </a>
          </li>

          <!-- Testes Rápidos -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Testes Rápidos
            </a>
          </li>

          <!-- Configurações -->
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Configurações
            </a>
          </li>
        </ul>

        <!-- Últimos Projetos -->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Últimos Projetos</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <!-- Lista dos ultimos Projetos -->
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Projeto 6
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Projeto 5
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Projeto 4
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Parte do meio
    Ambiente à esquerda -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

      <!-- Titulo da main -->
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Meus Projetos</h1>       
      </div>

      <!-- Gerenciador para Criar ou importar -->
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button class="btn btn-sm btn-outline-secondary">Criar</button>
          <button class="btn btn-sm btn-outline-secondary">Importar</button>
        </div>
      </div>
      <br><br>

      <!-- Primeira linha de projetos -->
      <div class="d-flex  justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="card" style="width: 20em; ">
          <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep1.png">
          <div class="card-body  ">
            <h5 class="card-title">Projeto 1</h5>
            <p class="card-text">Projeto para testes </p>
            <div class="btn-group align-itens-center" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">Visualizar</button>
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Excluir</button>
            </div>

          </div>
        </div>
        <div class="card" style="width: 20em; ">
          <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep2.jpg">
          <div class="card-body ">
            <h5 class="card-title">Projeto 2</h5>
            <p class="card-text">Projeto para testes </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">Visualizar</button>
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Excluir</button>
            </div>
          </div>
        </div>
        <div class="card " style="width: 20em; ">
          <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep3.jpg">
          <div class="card-body ">
            <h5 class="card-title">Projeto 3</h5>
            <p class="card-text">Projeto para testes </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">Visualizar</button>
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Excluir</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Segunda linha de projetos -->      
      <div class="d-flex  justify-content-between flex-wrap flex-md-nowrap align-items-start pb-2 mb-3 border-bottom">
        <div class="card" style="width: 20em; ">
          <img class="card-img-top " style="height: 10em;" alt="Card image cap" src="assets/images/sep3.jpg">
          <div class="card-body ">
            <h5 class="card-title">Projeto 4</h5>
            <p class="card-text">Projeto para testes </p>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-secondary">Visualizar</button>
              <button type="button" class="btn btn-outline-secondary">Editar</button>
              <button type="button" class="btn btn-outline-secondary">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="./js/vendor/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script> -->

<!-- Icons -->
<!-- <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script> -->