<div class="h3">
  <p>Análise do Curto Circuito</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-curto-arquivos (filesLoadedEmit)="loadFiles($event)"></app-curto-arquivos>
    </div>
  </div>
</div>


<button [disabled]="!canCalcule"  (click)="CalculeShort()" class="btn btn-secondary mb-3"
  role="button">Calcular Curto Circuito</button>
<!-- <div *ngIf="curto.length > 0 ">
  <app-curto-tabela [fluxoPotencia]="curto"></app-curto-tabela>
  <button (click)="Export('curto.csv')" class="btn btn-secondary mb-3" role="button">Exportar Fluxo de Potência</button>
  <button (click)="Export('susceptancia.txt')" class="btn btn-secondary mb-3" role="button">Exportar Susceptância</button>
  <button (click)="Export('linhas.txt')" class="btn btn-secondary mb-3" role="button">Exportar Linhas</button>
  <button (click)="Export('colunas.txt')" class="btn btn-secondary mb-3" role="button">Exportar Colunas</button>
</div> -->