<form>
  <div class="form-group">
    <label>Inserir arquivo de linha (linha.csv)</label>
    <input type="file" placeholder="Entre com o arquivo de linha" class="form-control" id='arquivoLinha' (change)="lerArquivo('arquivoLinha')"
      accept=".csv" />
  </div>
</form>

<app-tabela [table]="linhas" *ngIf="linhas.length>0"></app-tabela>

<form>
  <div class="form-group">
    <label>Inserir arquivo de barra (barra.csv)</label>
    <input type="file" placeholder="Entre com o arquivo de barra" class="form-control" id="arquivoBarra" (change)="lerArquivo('arquivoBarra')"
      accept=".csv" />
  </div>

</form>
<app-tabela [table]="barras" *ngIf="barras.length>0"></app-tabela>