<!-- linha Testes rapidos -->
<div class="row justify-content-md-center my-5">
  <div class="col-sm-6">
    <div class="text-center">
      <div class="card-body">
        <h5 class="h1 card-title">Testes Rápidos</h5>
        <p class="card-text">Teste de maneira mais simplificada o seu Sistema Elétrico de Potência, através de arquivos '.csv' </p>
        <a routerLink="/testar" class="btn btn-secondary">Testar</a>
      </div>
    </div>
  </div>
</div>

<!-- linha Desenhar diagramas -->
<div class="row justify-content-md-center my-5">
  <div class="col-sm-6">
    <div class="text-center">
      <div class="card-body">
        <h5 class="h1 card-title">Desenhe seu Diagrama</h5>
        <p class="card-text">Desenhe seu próprio diagrama do Sistema Elétrico de Potência, contendo as barras e linhas.</p>
        <a routerLink="/diagrama"  class="btn btn-secondary">Desenhar</a>
      </div>
    </div>
  </div>
</div>